/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.banner-bg{
background-image: url('../images/banner-bg.jpg');
    background-position: 0px -350px;
}

.navbar {
    transition: all 0.4s;
    font: 14px Skranji;
}

.navbar .nav-link {
    color: #FFF;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #EEE;
}


.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */

.navbar {
    background: #f47500;
}

.navbar.active {
    background: #2e5871;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #EEE;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #EEE;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #f47500;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
    font-size: 0.9rem !important;
}


body {
    min-height: 110vh;
}

INPUT.error{
border: 1px solid #FF0000;
}